<!--
<div class="well">
  <ul>
    <% if  (@todos.nil?) %>
    <li><strong>Sorry No Travel's Plan</strong></li>
    <%end%>
    <% @todos.each do |t| %>
      <% if (t.private==false) %>
        <li><%= t.todo_item %> </li>
      <%end%>

    <%end%>
  </ul>
</div> -->
<div class='well'>
  <p><strong><%= @user.email %> Travling Plan </strong></p>

  <table class="table table-hover">
  <thead>
    <tr>

      <th>Travel List</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>

    </tr>
  </thead>
  <tbody>
     <% @todos.each do |t| %>
    <tr>

      <td><%= t.todo_item %></td>

      <td><%= t.start_date %> </td>
      <td><%= t.end_date %> </td>
      <td> <%if(t.completed.nil?)%>Uncomplete<%else%>Completed<%end%></td>

    </tr>
    <% end %>
      </tbody>
</table>
