<title> TravelList App </title>
<div class="container">
  <div class="row">
    <div class="span4">
      <h1> Travel List App</h1>
      <hr>
      <% if flash[:success] %>
         <div class="alert alert-success">
          <%= flash[:success] %>
         </div>
         <% end %> 
      <div class="btn btn-info btn-sm  " >
     <%= link_to "ADD NEW TODO", todos_new_path,:id=> :new%></br>
     </div>
  <div class='well'>
    <table class="table table-hover">
    <thead>
      <tr>

        <th>Travel List</th>
        <th>Privacy</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Privacy</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
       <% @todo_items.each do |t| %>
      <tr>

        <td><%= t.todo_item %></td>
        <td><%if (t.private== false)%> Public
              <%else%> Private
             <%end%>
        </td>
        <td><%= t.start_date %> </td>
        <td><%= t.end_date %> </td>
        <td> <%if(t.completed==true)%>Completed<%else%>Uncomplete<%end%><div class="btn  btn-sm  " style color="red" ><%= link_to "(Change)", todos_complete_path(:param1 => t.id), method: :post,
                                                                                                                                data: { confirm: "You sure?" } %></div>
        </td>
        <td> <%if(t.private==false)%>Public<%else%>Private<%end%><div class="btn  btn-sm  " style color="red" ><%= link_to "(Change)", todos_privateToDo_path(:param1 => t.id), method: :post,
                                                                                                                                                                           data: { confirm: "You sure?" } %></div>
        </td>
        <td> <div  id="delete" class="btn btn-info btn-sm  "  ><%= link_to "delete", todos_destroy_path(:param1 => t.id), method: :delete,
                                                                                          data: { confirm: "You sure?" } %></div></td>

      </tr><% end %>
        </tbody>
  </table>


  <!-- <div class="well">
    <p><strong> Todo List</strong> </p>
    <%= form_tag("/todos/privateToDo/", :method => "post") do %>
      <ul style="list-style-type:none;">
        <% @todo_items.each do |t| %>
          <% if t.private == true %>
            <li style="color:blue;"> <%= check_box_tag  "todos_checkbox[]",t.id %>  <%= t.todo_item %>(Private)
              <ul><li>Created <%= time_ago_in_words(t.created_at) %> ago.</li></ul>
             </li>
          <% else %>
            <li> <%= check_box_tag  "todos_checkbox[]",t.id %> <%= t.todo_item %>
             <ul><li>Created <%= time_ago_in_words(t.created_at) %> ago.</li></ul>
             </li>
          <% end %>
        <%end%>
      </ul>
        <%= submit_tag("Make Private Todos", :class=>"btn btn-success") %>
      <%end %>
    </div> <!-- span4 -->
  </div> <!-- row -->
</div> <!-- container -->
