<title>Todo App </title>
<div class="container">
  <div class="row">
    <div class="span4">
      <h1>Todo App</h1>
      <hr>
      <p>Create New Todo</p>

      <% if !flash[:error].nil? %>
        <div class="alert alert-danger">
         <button type="button" class="close" data-dismiss="alert" >×</button>
         <strong><%= flash[:error] %></strong>
         </div>
        <% end %>

      <!-- binding.pry -->
      <%= form_for Todo.new ,:html => {:class => "form-horizontal center"} do |f|  %>
        <div class="form-group">
          <%= f.label :Travel_place ,class: "col-md-4 control-label"%>
          <%= f.text_field  :todo_item ,:placeholder =>"Compose New Todo"%>
        </div>
        <div class="field">
        <div class="form-group">
          <%= f.label  :start_date,class: "col-md-4 control-label" %>
          <%= f.text_field  :start_date  ,:placeholder =>"yyyy/mm/dd",'data-behaviour' => 'datepicker'%>
        </div>
        <div class="form-group">
          <%= f.label  :end_date,class: "col-md-4 control-label" %>
          <%= f.text_field  :end_date  ,:placeholder =>"yyyy/mm/dd",'data-behaviour' => 'datepicker'%>
        </div>
        <div class="form-group">
        <%= f.submit "Add todo", class: "btn btn-primary " %>
       </div>
       </div>
      <%end%>
     <!-- <% if !flash[:error].nil? %>
       <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert" >×</button>
        <strong><%= flash[:error] %></strong>
        </div>
       <% end %>
       -->
   <!-- <% if flash[:success] %>
      <div class="alert alert-success">
       <%= flash[:success] %>
      </div>
      <% end %> -->

    </div> <!-- span4 -->
  </div> <!-- row -->
</div> <!-- container -->
<a href="/todos/index">Back</a>
