<title>Todo App </title>
<div class="container">
  <div class="row">
    <div class="span4">
      <h1>Todo App</h1>
      <hr>
      <p>Create New Todo</p>

      <%= form_for @new_todo   do |f|  %>

      <%= f.label :Travel_place %>
      <%= f.text_field  :todo_item ,:placeholder =>"Compose New Todo"%></br>
      <div class="field">
      <%= f.label  :start_date %>
       <%= f.text_field  :start_date  ,:placeholder =>"yyyy/mm/dd",'data-behaviour' => 'datepicker'%></br>
      <%= f.label  :end_date %>
       <%= f.text_field  :end_date  ,:placeholder =>"yyyy/mm/dd",'data-behaviour' => 'datepicker'%></br>

    </div>
      <%= f.submit "Add todo", class: "btn btn-primary" %>
      <%end%>
     <% if !flash[:error].nil? %>
       <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert" >×</button>
        <strong><%= flash[:error] %></strong>
        </div>
       <% end %>
   <% if flash[:success] %>
      <div class="alert alert-success">
       <%= flash[:success] %>
      </div>
      <% end %>

    </div> <!-- span4 -->
  </div> <!-- row -->
</div> <!-- container -->
<a href="/todos/index">Back</a>
